@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

/* RESET LO QUE QUIERE DECIR ES QUE TODA LA PAG YO LE PONGO LAS MEDIDAS QUE SE QUIERAN*/
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

/* HEADER */

header{
    height: 100px;
    width: 100;
    background-color: white;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding:0 10px;
    display: inline-block;
}

.mostrar-menu, 
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    text-decoration: none;
    color: black;
    transition: 0,04s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu,
.esconder-menu{
    color: black;
}

#check{
    display: none;
}

/* RESPONSIVE */

@media (max-width:760px){
    /* HEADER */
    .esconder-menu,
    .mostrar-menu{
        display:block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0,08s;
        text-decoration: none;
    }
    .menu a{
        display: block;
        padding: 20px;
        text-decoration: none;
        color: black;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}

/* ESTILO DE LA CONTACTO */

body{
    background-image: url(IMG/Fondo\ Body.jpg);
}

iframe{
    width: 100%;
    height: 200px;
}

form {
    width: 100%;
    max-width: 40%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #0c0202;
    font-size: 35px;
}

label {
    color: #0c0202;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edeeff;
    border: 2px solid #f0f0fa;
    color: #080808;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #777474de;
}

.botton {
    font-size: 16px;
    color: #ffffff;
    border: 0;
    border-radius: 25px;
    background-color: #ff77a0;
    cursor: pointer;
}

.botton:hover {
    background-color: #cbc5d6;
}

@media only screen and (max-width: 768px) {
    .mapa-contenido {
        margin-top: 5%;
    }

    form {
        max-width: 60%;
    }
}

@media only screen and (max-width: 480px) {
    form {
        max-width: 80%;
    }
}

/* AQUI SE DARA EL ESTILO DEL FOOTER */

footer {
    height: 28px;
    background-color: #1C1C1C;
    
}
