/*MENU DE LA PAGINA */
header{
    width: 100%;
    height: 100px;
    width: 100;
    background-color: white;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding:0 10px ;
    display: inline-block;
    margin-left: 20px;
}

.mostrar-menu, 
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    text-decoration: none;
    color: black;
    transition: 0,04s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu,
.esconder-menu{
    color: black;
}

#check{
    display: none;
}

/* RESPONSIVE */

@media (max-width:760px){
    /* HEADER */
    .esconder-menu,
    .mostrar-menu{
        display:block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0,08s;
        text-decoration: none;
    }
    .menu a{
        display: block;
        padding: 20px;
        text-decoration: none;
        color: black;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}

/* ESTILOS DE LA CATEGORIA PRODUCTOS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
/* HEADER */

header{
    height: 100px;
    width: 100;
    background-color: white;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu a{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding:0 10px;
    display: inline-block;
}

.mostrar-menu, 
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    text-decoration: none;
    color: black;
    transition: 0,04s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu,
.esconder-menu{
    color: black;
}

#check{
    display: none;
}

/* RESPONSIVE */

@media (max-width:760px){
    /* HEADER */
    .esconder-menu,
    .mostrar-menu{
        display:block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0,08s;
        text-decoration: none;
    }
    .menu a{
        display: block;
        padding: 20px;
        text-decoration: none;
        color: black;
    }
    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}

        /* Categoria Productos */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.contenido{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}

.mostrador{
    width: 100%;
    transition: .5s ease;
}

.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}

.mostrador .fila .item:hover{
    background-color: #e6e6e6;
}

.mostrador .fila .item img{
    width: 100%;
    margin: 30px 0;
}

.mostrador .fila .item .descripcion{
    color: #707070;
    font-weight: bold;
}

.mostrador .fila .item .precio{
    color: #f85151;
    font-weight: bold;
    font-size: 20px;
}

.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.cerrar{
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.info{
    padding: 20px;
}

.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}

.info h2{
    color: #707070;
    margin-bottom: 10px;
}

.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}

.info .precio{
    font-size: 30px;
    font-weight: bold;
    color: #f85151;
    margin-bottom: 10px;
    display: block;
}

.info .fila{
    display: flex;
    align-items: flex-end;
}

.info .fila label{
    display: block;
    margin-bottom: 10px;
}

.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}

.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #f85151;
}